<div>
    <%= render'layouts/header' %>
    <div class="center ">

        <div class="containt pull-left" ><div class="nav pull-left navbar-inner">Contact Us</div>
            <div><div class="containt pull-left" style="border: 1px solid ; height:200px;width: 300px ;text-align: left">
                " oneline Exam Preparation <br>
                  Jhupro Services Pvt.Ltd.<br>
                  Hetauda, Nepal<br>
                  Phone:9779806855468<br>
                  Email:infoexam.jhupro@gmail.com<br>
                  web:www.jhupro.com "</div></div>
        </div>

        <div class="nav pull-right"><div class="nav"> <br></div>

            <div class="nav pull-right" >
                <%= link_to image_tag("map.png",  :width => 500,   alt: "mbbs" , id: "logo"), '#' %>


            </div>
        </div>


    </div>
</div>
