<div>
    <%= render'layouts/header' %>
     <div class="center ">

            <div class="containt pull-left" >
                <div class="nav pull-left navbar-inner">
                    Materials
                </div>



             </div>
     </div>
</div>
