<div>
    <%= render'layouts/header' %>
    <div class="center ">

        <div class="containt pull-left" ><div class="nav pull-left navbar-inner">Notice Board</div>

            <div>
                <div class="containt pull-left" style="border: 1px solid ; height:300px;width: 115px ">

                    <div  id="menu">

                            <a href='#' target="content">notice 1</a><br>
                             <a href='#' target="content">notice 2</a><br>
                           <a href='#' target="content">notice 3</a><br>
                            <a href='#' target="content">notice 4</a>


                    </div>


                </div>
            </div>
        </div>
        <br>
        <br>



        <div  id="content">hello
        </div>



    </div>
</div>
