<footer class="center" style="padding-left: 175px;">
    <small>

        <div class="nav navbar-inner " style="width: 910px; padding-left: 10px;">Developed by <a href="#">Jhupor Service Pvt.Ltd,</a> Hetauda,Nepal</div></div>

    </small>

</footer>