<footer class="center" style="padding-left: 205px;">
    <small>

        <div class="nav navbar-inner " style="width: 900px; padding-left: 20px;">Developed by <a href="#">Jhupor Service Pvt.Ltd,</a> Hetauda,Nepal</div></div>

    </small>

</footer>