<!DOCTYPE html>
<html>
<head>
    <title>online exam preparation app |<%=yield(:title) %></title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
</head>
<body>

<div id="container" style="width:auto;height: auto">


    <div id="menu" style="background-color:#FFD700;height:700px;width:200px;float:left;">
        <b>advetisment</b>


    </div>

    <div id="content" style="background-color:#EEEEEE;height:700px;width:870px;float:left;">
        Content goes here

        <div id="footer" style="background-color:#FFA500;clear:both;text-align:center; bottom:0">
            Copyright © W3Schools.com</div>

    </div>

    <div id="menu" style="background-color:#FFD700;height:700px;width:200px;float:right;">
        <b>advertisment </b></div>



</div>

</body>
</html>
